dj-database-url==0.4.1
Django==1.10.3
django-markdown==0.8.4
django-markdown-deux==1.0.5
enum34==1.1.6
gunicorn==19.6.0
Markdown==2.6.7
markdown2==2.3.1
pycosat==0.6.1
pycrypto==2.6.1
python-dateutil==2.5.3
pytz==2016.7
pywin32==220
requests==2.11.1
ruamel-yaml===-VERSION
six==1.10.0
whitenoise==3.2.2
psycopg2==2.5.4