{% extends 'blog/base.html' %}
{% block content %}

    <!-- Post Content -->
    <article>
                        <h1>Hi, I am Mayukh Bhattacharyya</h1>
                        <h1></h1>
                        <p>I am a self taught python developer and data science enthusiast. I am currently a final
                            year student at Jadavpur University, Kolkata pursuing a Bachelor's Degree in
                            Electrical Engineering. I love machine learning and artificial intelligence
                            and generally waste my time writing code for cool packages and applications
                            or in general solving problems of machine learning and data analysis.</p>
                        <p>You can contact me at mayukhbhattacharyya18@gmail.com</p>
    </article>

    <hr>

{% endblock %}