{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>The Swiss Website Template | Home :: w3layouts</title>

	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all">

	<!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">


    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body>
<!---start header--->
<div class="header-bg">
<div class="wrap">
<div class="header">
		<div class="nav">
				<ul>
						<li class="a"><a href="{% url 'post_list' %}">Home</a> </li>
						<li><a class="active" href="{% url 'about_me' %}">About Me</a></li>
						<li><a href="contact.html">Contact Me</a> </li>
						
				</ul>
		 </div>
		 <!--<div class="search">
				<input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
				<input type="submit" value="Subscribe" id="submit" name="submit">
				<div id="response"> </div>
		 </div>-->
		<div class="clear"> </div>
</div>
</div>
</div>
<!---end_header--->
<div class="wrap">
	<div class="logo">
      <a href="{% url 'post_list' %}"><img src="{% static 'images/newlogo.png' %}" alt=""></a>
    </div>
    <div class="clear"> </div>
			   {% block content %}
			   {% endblock %}
</div>
<!--footer-bottom-->
<div class="footer-bottom">
	  <div class="wrap">
	    <div class="social-icons">
			<ul>
				<li class="icon1"><a href="#" target="_blank"> </a></li>
				<li class="icon2"><a href="#" target="_blank"> </a></li>
				<!--<li class="icon3"><a href="#" target="_blank"> </a></li>
				<li class="icon4"><a href="#" target="_blank"> </a></li>
				<li class="icon5"><a href="#" target="_blank"> </a></li>-->
				<div class="clear"></div>
			</ul>
		</div>
	  </div>
	<div class="clear"> </div>
</div>
</body>
</html>