{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in posts %}
                <div class="post-preview">
                    <a href="{% url 'post_detail' pk=post.id %}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{ post.author }}</a> on {{ post.published_date }}</p>
                </div>
                <hr>
                {% endfor %}

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>

    <hr>
    </div>
    {% endblock %}